{% set router_number=host.name[1:]%}
no ip domain lookup
hostname {{host.name}}
line con 0
logging synchronous
exit
interface loopback 0
ip address 150.1.{{router_number}}.{{router_number}} 255.255.255.255
no shutdown
interface GigabitEthernet1
no shutdown
{% for connection in host.connection %}
{% set connection_number=connection[1:] %}
{% if router_number < connection_number %}
interface GigabitEthernet1.{{router_number}}{{connection_number}}
encapsulation dot1Q {{router_number}}{{connection_number}}
ip address 155.1.{{router_number}}{{connection_number}}.{{router_number}} 255.255.255.0
{% else %}
interface GigabitEthernet1.{{connection_number}}{{router_number}}
encapsulation dot1Q {{connection_number}}{{router_number}}
ip address 155.1.{{connection_number}}{{router_number}}.{{router_number}} 255.255.255.0
{% endif %}
no shutdown
{% endfor %}
router ospf 0
router-id 150.1.{{router_number}}.{{router_number}}
{% for connection in host.connection %}
{% set connection_number=connection[1:] %}
{% if router_number < connection_number %}
network 155.1.{{router_number}}{{connection_number}}.{{router_number}} 0.0.0.0 area 0
{%else%}
network 155.1.{{connection_number}}{{router_number}}.{{router_number}} 0.0.0.0 area 0
{%endif%}
{% endfor %}
network 150.1.{{router_number}}.{{router_number}} 0.0.0.0 area 0
exit